.Card {
    
    width: 28vw;
height: auto;
    background: #2F2F2F;
    border-radius: 10px;
    border: solid 6px #2e2e2e;
    margin: 10px;
    display: flex;
}
.rightbox,.leftbox
{
    height: fit-content;
    display: block;
}
.leftbox{
    margin-right: 10px;
}

.image-container img{
    /* width: fit-content; */
    

    margin-top: 5px;
    margin-left: 5px;
    /* min-width: min-content; */
}
/* .image-container
{
    display: block;
    width: fit-content;
} */
.lower-container {
    position: relative;
    margin-top: 60px;
    height: 220px;
    background: #3a3a3a;
    text-align: center;
    border-radius: 20px;
}

/* .socials {

    width: 100%;
    margin: 0 auto;

} */

/* .lower-container h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.lower-container h3 {
    font-family: 'Raleway',
        sans-serif;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.lower-container h4 {
    font-family: 'Raleway',
        sans-serif;
    color: rgb(192, 192, 192);
    font-size: 1rem;
    margin-top: 5px;
}

.lower-container p {
    margin: 1.5rem;
    font-family: 'Quicksand',
    sans-serif;
    color: rgb(236, 236, 236);
    font-size: 0.9rem;
    text-align: justify;
} */

.yt {
    color: #ff5f5f;
}

.yt:hover {
    color: #f04747;
    transition-duration: 250ms;
}

.ig {
    color: #fd5e93;
}

.ig:hover {
    color: #f73e7b;
    transition-duration: 250ms;
}

.li {
    color: #61b3ff;
}

.li:hover {
    color: #3c9df7;
    transition-duration: 250ms;
}
.ig,.li{
    margin-left: 10px;
}
.cardname
{
    font-size: 1.2rem;
}
.cardjob
{
    font-size:0.9rem;
}
.cardabout
{
    font-size: 0.7rem;;
}