@import './variables.css';
*
{
    font-family: Montserrat;
    font-style: normal;
    color: white;
}

.sheet-window iframe{
    height:70vh !important;
    width:100%!important;
    margin-top: 15px;
}

/* .event-work{
    position: relative;
    left:  5vw;
} */
.ng-danger,.bg-danger

{
    background: var(--primary)!important;

}
.filter
{
    margin-top: 5vh;
    color: white!important;
 
}

.selectwrap select{
    appearance: none ;
}

/* .selectwrap::after 
{ content: \25b6 ;}
.selectwrap { position: relative } 
.selectwrap::after { position: absolute; top: 0; right: 0 } */
iframe
{
    border: 0ch;
}