@import './variables.css';
*
{
    font-family: Montserrat;
    font-style: normal;
    
}
.eventbox{
    background-color: rgb(14, 14, 14);
    display: flex;
    height: fit-content;  
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-image: linear-gradient(180deg, #333131 0%, rgba(55, 55, 55, 0.31) 100%);
    color: rgb(196,196,196);
    margin-bottom: 20PX;
    margin-top: 10vh;
}

.eventbox img{
    margin: 20px 10px;
    width:15%;
    height: min-content;
    align-self: center;


}

.registerbtn
{
    width: max-content;
    height: fit-content;
    background: var(--primary);
    color: white!important;
    /* position: relative;
    top:1vh; */
    /* margin-top: 5px; */
    position: relative;
    display: block;
    margin-top: 2vh;


}
.evinfo{
padding: 20px 20px;
}


.evwave{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    z-index: -1;
}

@media(max-width: 992px) {

    /* body{
        overflow-y: visible;
    } */
/* .eventbox{
    flex-direction: column;
} */
.eventbox img
{
display: none;
/* align-self: center;
border-radius: 20px; */
}
.evtxt
{
    margin: 20px 0px;
}
/* .evinfo
{
    padding-left: 20px;
    padding-top: 0px;
}*/
.evinfo {
    text-align: center;
} 
.registerbtn
{
    margin: -5px auto;
    background-color: #2F2F2F;
    display: none;
}
.eventbox
{
    background-image:linear-gradient(283.69deg, #FF1E1E 9.68%, #FBFF35 179.56%); ;
}
}
