
.eventbox{
    background-color: rgb(214, 157, 157);
    display: flex;
    height: 40vh;
    border-radius: 20px;
    background-image: linear-gradient(rgb(50,48,48), rgb(29,28,28));
    color: rgb(196,196,196);


}
.eventbox img{
    margin: 20px 10px;
    width:40%;
}
.evinfo
{
padding-top: 20px;
}
.row
{
    margin:  30px 0px;
}