@import './variables.css';


body {
  overflow: hidden; /* Hide scrollbars */
  
}
.App {
  background-color: black;
  
}
.cont1
{
  height: 85vh;
}
.elps{

width: 80vw;
height: 78vw;
position: absolute;
left: 0;
top: 0;
border-radius: 50%;
margin-top: -35%;
margin-left: 45%;
background: #2F2F2F;
}

.hometxt
{
  z-index: 2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 3.5rem;
  color: white;
  width:max-content;

}

.squiggl
{
display: block;
margin-left: 30%;
margin-top: -5%;

}

.flame{
z-index: 2;
position: absolute;
top: 0;
right: 0%;
margin-top: 10vh;
margin-right: 10vw;
height: 30vw;
}

.button-bot{
position: relative;
width: 170px;
height: 53px;
/* left: 144px; */
top:3vh;
display: block;
/* margin-left: 10vw; */
/* margin-top: 5vh; */
background: var(--primary);
border-radius: 5px;
z-index:2;
border:0;
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.fa-star {
animation: 2.5s rotate infinite;
animation-timing-function: linear;
color:var(--primary);
}
.mobile
{
  display: none;
}

/* .fa-star{
  z-index: 1;
  color:var(--primary);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  
  
}

.fa-star:hover {
	background: black;
	-webkit-transform: rotate(1080deg);
	-moz-transform: rotate(1080deg);
	-o-transform: rotate(1080deg);
	-ms-transform: rotate(1080deg);
	transform: rotate(1080deg);

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
} */
a:link {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

@media only screen and (max-width: 767px) 
{
.flame
{
  display: none;
}
.elps
{
  display: none;
}
.mobilehide
{
  display: none!important;
}
.mobile
{
display: block;
color: white;
font-family: Montserrat;
font-style: normal;
}
.mobilemaintext
{
  z-index: 2;
  font-weight: 700;
  font-size: 24px;
  width:max-content;
  margin-top: 5vh; 
}

.mobilesquiggl
{
  width: 20vw;
  margin-top: -2%;
  justify-self: end;
  display: block;
  margin-left: 20%;
}
.mobileevents,.mobileblogs
{
  height: max-content;
  padding: 30px 10px;
  margin-top: 3vh;
  border-radius: 10px;
  display: flex;
}
.mobileevents
{
  background-image: linear-gradient(283.69deg, #FF1E1E 9.68%, #FBFF35 179.56%);
}
.mobileblogs
{
  background-image:linear-gradient(115.92deg, #A45CDD 2.78%, rgba(232, 0, 0, 0.82) 126.33%);
}

.mevr img,.mblgr img
{
width: 100%;
border-radius: 5px;
}
.mevhead,.mblghead
{
 
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
padding-top: 2vh;

}
.mevtxt,.mblgtxt
{
  padding-top: 2vh;
  font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}
.cont1
{
  height: 0px;
}
}

