@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.cont1
{
    height: 85vh;
}
.wave{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    z-index: -1;
}
.works{

margin-left:5vw;
margin-top:5vh;
z-index: 2;
height: 50vh;

}

.works h1{
    font-family: 'Montserrat', sans-serif;
 font-weight:800;
 color:white;
}
.works p{
    font-family: 'Montserrat', sans-serif;
margin-top: 1em;
 color:white;
 width: 40em;
}


.work-buttons{
    display:inline-flex;
    position:relative;
    left:2.2em;
    margin-top: 1em;
    
}

.fa-youtube{
    color: red;
}

.fa-medium{
    color: black;
}

