@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.wave{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    z-index: -1;
}
.works{

margin-left:5vw;
margin-top:5vh;
z-index: 2;
height: 50vh;

}

.works h1{
    font-family: 'Montserrat', sans-serif;
 font-weight:800;
 color:white;
}
.works p{
    font-family: 'Montserrat', sans-serif;
margin-top: 1em;
 color:white;
 width: 40em;
}


.work-buttons{
    display:inline-flex;
    position:relative;
    left:0px;
    margin-top: 1em;    
}

.fa-youtube{
    color: red;
}

.fa-medium{
    color: black;
}

.button-bot{
    position: relative;
    width: 170px;
    height: 53px;
    /* left: 144px; */
    top:3vh;
    display: block;
    /* margin-left: 10vw; */
    /* margin-top: 5vh; */
    background: var(--primary);
    border-radius: 5px;
    z-index:2;
    border:0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
    }

    @media(max-width: 500px){
        .wave{
            display: none;
        }
        .works p{
            position: relative;
            width: 70vw;
            height: 20vh;
     }
     .works button{
        width: 148px;
        height: 44px;
       
     }

     .works a{
        margin-left: 0px;
     }
        
    }